<% action_name = controller.action_name %>

<div class="reports_header">
  <% if action_name == 'group_index'%>
    <h3><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> <%= @group.name %>'s Reports</h3>
  <% elsif action_name == 'user_index'%>
    <h3><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> <%= @user.name %>'s Reports</h3>
  <% end %>
</div>

<%= render partial: "reports", locals: { reports: @weekly_reports } %>
