<% action_name = controller.action_name %>

<% if action_name == 'group_index'%>
  <h1><%= @group.name %>の週報</h1>
<% elsif action_name == 'user_index'%>
  <h1><%= @user.name %>の週報</h1>
<% end %>

<%= render partial: "common/reports", locals: { reports: @weekly_reports } %>
