<% if @weekly_report.reported_time < Time.now  %>
  <h1>週報</h1>
<% else %>
  <h1>直近の週報はすでに書かれています<a class="question-a" href="#" data-toggle="popover" data-placement="top" data-content="下のフォームは次回の週報です"><span class="glyphicon glyphicon-question-sign"></span></a>
  </h1>
<% end %>

<%= render 'form' %>
