<div class="report_element">
  <div class="user_icon"><%= gravatar_for report.user %></div>

  <div class="report_body">
    <div class="report_user"><%= link_to_users_weekly_reports(report.user) %></div>
    <div class="report_title"><%= link_to report.updated_at.to_s(:report_title) + 'の週報', report %></div>
  </div>
</div>
