<div class="row">
  <div class="col-md-9">
    <% if @reports.present? %>
      <div class="report_period_header">
        <h3><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> This Week's Reports</h3>
      </div>
      <%= render partial: "reports", locals: { reports: @reports } %>
    <% else %>
      <h1 class="text-center"><%= link_to '週報を書こう！', new_weekly_report_path %></h1>
    <% end %>
  </div>

  <div class="col-md-3">
    <%= render partial: "sub", locals: { members: @group_members } %>
  </div>
</div>
