<div class="report_list">
  <% if @reports.present? %>
    <% @reports.each do |report| %>
      <%= render partial: "report", locals: { report: report } %>
    <% end  %>
  <% else %>
    <h1 class="text-center"><%= link_to '週報を書こう！', new_weekly_report_path %></h1>
  <% end %>
</div>
