/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


.bodyBase {
  min-height: 100vh !important;
  background: #fafafa!important;
}

.container_restrict {
  max-width: 1000px;
}

.container_full {
  min-width: 100%;
}

.navbar {
  background: #fff;
  border-color: rgba(0, 0, 0, .05);
}

caption {
    font-weight: bold;
}

td {
    vertical-align: middle !important;
}

.time-select {
    width: auto;
    display: inline-block;
}

.question-a {
    color: #333333;
}

#preview {
    min-height: 200px;
}

.user_list {
    padding-left: 0px;
    list-style: none;
    li {
    	margin-bottom: 5px;
	.gravatar {
	    padding-right: 8px;
	}
    }
}

.user-form{
    width: 300px;
}

textarea {
    resize: none;
}

.index-links a{
    color: black;
}
