/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.container {
  max-width: 1000px;
}

.nav_restrict {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

caption {
    font-weight: bold;
}

td {
    vertical-align: middle !important;
}

a.user_name {
    color: #777777;
}

.report_content,
.comment_content{
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.report_time,
.comment_time{
    width: 150px;
}

.time-select {
    width: auto;
    display: inline-block;
}

.question-a {
    color: #333333;
}

#preview {
    min-height: 200px;
}

.user_list {
    padding-left: 0px;
    list-style: none;
    li {
    	margin-bottom: 5px;
	.gravatar {
	    padding-right: 8px;
	}
    }
}

.user-form{
    width: 300px;
}

textarea {
    resize: none;
}

.index-links a{
    color: black;
}

.report_list {
  border: 1px solid #e8e8e8;
  padding: 30px;

  .report_element {
    width: 100%;
    display: block;

    .user_icon {
      width: 40px;
      height: 40px;
      float: left;
    }

    .report_body  {
      margin-left: 49px;

      .report_title {
        margin-top: -1px;
        font-weight: bold;
        font-size: 18px;
        width: 100%;
      }
    }
  }
  .report_element:not(:first-child) {
    border-top: 1px solid #e8e8e8;
    padding-top: 8px;
    margin-top: 8px;
  }
}
