/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.container {
    margin-bottom: 80px;
}


caption {
    font-weight: bold;
}

td {
    vertical-align: middle !important;
}

.gravatar,
td.gravatar_td {
    width: 50px;
}

a.user_name {
    color: #777777;
}

.report_content,
.comment_content{
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.report_time,
.comment_time{
    width: 150px;
}

.time-select {
    width: auto;
    display: inline-block;
}

.question-a {
    color: #333333;
}

#preview {
    min-height: 200px;
}

.user_list {
    padding-left: 0px;
    list-style: none;
    li {
    	margin-bottom: 5px;
	.gravatar {
	    padding-right: 8px;
	}
    }
}

.user-form{
    width: 300px;
}

textarea {
    resize: none;
}

.index-links a{
    color: black;
}